*.user
*.autosave
*.7pre1
*.DotSettings
*.suo
*.sdf
*.opensdf
*.vsp
*.psess
*ipch
*.log
*.tlog
*.pdb
*.lastbuildstate
*.idb
*.filters
*.obj
*.dll
*.lib
*.exe
*.cache
*.p12

Debug
Release

*/obj/Debug/*
*/obj/x86/Debug/*
*/obj/Release/*
*/obj/x86/Release/*

*/bin/Debug/*
*/bin/x86/Debug/*
*/bin/Release/*
*/bin/x86/Release/*

/packages/Hardcodet.NotifyIcon.Wpf.1.0.5
/Installer/IndexerLogo.ico
/Installer/UserSettings.xml
/Installer/icon_v3_2.ico
/Installer/helpText.txt

IndexerLog.txt
