<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Indexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Indexer.Properties.Settings>
            <setting name="WndWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WndHeight" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="IsFiltersExpanded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedDrives" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
                </value>
            </setting>
        </Indexer.Properties.Settings>
    </userSettings>
</configuration>
